.system-admin-header {
  height: 58px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.06);
  .brand {
    width: 36rem;
    background-color: #ea6661;
    padding: 6px 12px;
    img {
      width: 4.6rem;
      height: 4.6rem;
      cursor: pointer;
    }

    h1 {
      font-size: 2.4rem;
      color: #fff;
      font-weight: bold;
    }
  }

  .info {
    background-color: #fff;
    padding: 6px 12px;

    &-item {
      margin: 0 24px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover,
      &:active {
        transform: scale(1.1);
      }

      .icon {
        font-size: 1.8rem;
      }
    }
  }
}
